{% extends 'index.html' %}


{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/actors.js') }}"></script>
{% endblock scripts %}


{% block page_title %}
   Actors
{% endblock page_title %}


{% block headline %}
    Actors
{% endblock headline %}

{% block content %}
    Click on an actor's name to see the shows he/she has played in.
    <ul>
        {% for actor in actors %}
            <li class="actor">{{ actor.name }}</li>
        {% endfor %}
    </ul>
{% endblock content %}