{% extends 'index.html' %}


{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/birthday_actors.js') }}"></script>
{% endblock scripts %}


{% block page_title %}
    Birthday actors
{% endblock page_title %}


{% block headline %}
    Birthday actors
{% endblock headline %}


{% block content %}
    <div class="card">
        As you hover over the actor's name, you will see his/her birthday (green if alive, otherwise grey).
        <ul class="actors">

        </ul>
    </div>
{% endblock content %}