{% extends 'index.html' %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/tooltip.css') }}">
{% endblock css %}


{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/birthday_actors.js') }}"></script>
{% endblock scripts %}


{% block page_title %}
    Birthday actors
{% endblock page_title %}


{% block headline %}
    Birthday actors
{% endblock headline %}


{% block content %}
    <div class="card">
        <ul class="actors">

        </ul>
    </div>
{% endblock content %}