{% extends 'index.html' %}


{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/ordered_shows.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/data_handler.js') }}"></script>
{% endblock scripts %}


{% block page_title %}
    Ordered shows
{% endblock page_title %}


{% block headline %}
    Ordered shows
{% endblock headline %}


{% block content %}
    <div class="card">
    What you see here are the first ten shows in the database, ordered by episode count. Click on the red column header
    to switch the order direction to descending (showing the last 10 shows).
      <table>
        <thead>
          <tr>
            <th class="action-column desc col-half">Show</th>
            <th class="col-half">Rating</th>
          </tr>
        </thead>
        <tbody class="ordered-shows">
        </tbody>
      </table>
    </div>
{% endblock content %}