{% extends 'index.html' %}


{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/data_handler.js') }}"></script>
{% endblock scripts %}


{% block page_title %}
{% endblock page_title %}


{% block headline %}
{% endblock headline %}


{% block content %}
    <div class="card">
      <table>
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock content %}